label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.error{
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem;
  color: rgb(175, 15, 15);
}
button {
  margin-left: 7%;
  margin-right: 7%;
}
button:disabled {
  background-color: grey !important;
}

img {
  width: 20px;
  height: 20px;
  max-width: 30px;
  max-height: 30px;
}