.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }

  .container label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .container input:hover {
    border-color: rgb(146, 144, 144);
  }
  
  .container input:focus {
    border-color: #251296;
  }